:root {
  /* color */
  --background-color: #e7e7e7;
  --sideBackground-color: #bbc9e2;
  --black-color: #2b2f36;
  --semiBlack-color: #595f68;
  --blue-color: #5d7adb;
  --yellow-color: #ffb727;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-regular: 400;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--black-color);
  margin-bottom: 0;
}

h2 {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--semiBlack-color);
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--black-color);
}

a:link {
  color: var(--black-color);
  text-decoration: none;
}
a:visited {
  color: var(--semiBlack-color);
  text-decoration: none;
}
a:hover {
  color: var(--blue-color);
  text-decoration: none;
}

/* 본문설정 */

body {
  width: 850px;
  margin: 0 auto;
  text-align: center;
}
#navbar {
  display: flex;
  justify-content: space-between;
}
.write {
  text-align: right;
}
.list {
  border: 1px solid var(--blue-color);
  height: 500px;
}
